{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">پروفایل دانش آموز {{ object }}</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="mdi mdi-home-outline"></i></a></li>

                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-12 col-lg-5 col-xl-4">

                        <div class="box box-inverse bg-img" style="background-image: url(../images/gallery/full/1.jpg);"
                             data-overlay="2">
                            <div class="flexbox px-20 pt-20">
                                <label class="toggler toggler-danger text-white">
                                    <input type="checkbox">

                                </label>

                            </div>

                            <div class="box-body text-center pb-50">
                                <a href="#">
                                    <img class="avatar avatar-xxl avatar-bordered" src="../images/avatar/5.jpg" alt="">
                                </a>
                                <h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#">{{ object.user }}</a>
                                </h4>

                            </div>

                            <ul class="box-body flexbox flex-justified text-center" data-overlay="4">
                                <li>
                                    <span class="opacity-60">کلاس ها</span><br>
                                    <span class="font-size-20">{{ object.get_course_count }}</span>
                                </li>
                                <li>
                                    <span class="opacity-60">آموزشگاه</span><br>
                                    <span class="font-size-20">{{ object.institute }}</span>
                                </li>
                                <li>
                                    <span class="opacity-60">هزینه</span><br>
                                    <span class="font-size-20">{{ object.total_pay }}</span>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <a href="{% url "Student:delete" object.id %}" class="form-control btn-danger text-center">حذف
                            دانش آموز</a>
                        <br>
                        <a href="{% url "Student:update" object.id %}" class="form-control btn-warning text-center">ویرایش
                            دانش آموز</a>
                        <!-- Profile Image -->


                        <!-- /.box -->


                    </div>
                    <div class="col-12 col-lg-7 col-xl-8">

                        <div class="nav-tabs-custom box-profile">
                            <ul class="nav nav-tabs">
                                <li><a class="active" href="#usertimeline" data-toggle="tab">دور ه ها</a></li>
                                <li><a href="#activity" data-toggle="tab">افزودن کلاس</a></li>
                                <li><a href="#settings" data-toggle="tab">امور مالی</a></li>
                            </ul>

                            <div class="tab-content">

                                <div class="active tab-pane" id="usertimeline">


                                    <div class="box p-15">
                                        <div class="timeline timeline-single-column timeline-single-full-column">

    <span class="timeline-label">
								<span class="badge badge-info badge-pill">دروه ها</span>
							</span>


                                            <div class="box">

                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <div class="table-responsive">
                                                        <table id="example"
                                                               class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                                            <thead>
                                                            <tr>
                                                                <th>عنوان</th>
                                                                <th>آموزشگاه</th>
                                                                <th>هزینه کلاس</th>
                                                                <th>تاریخ شروع</th>
                                                                <th>تاریخ اتمام</th>
                                                                <th>وضعیت کلاس</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for course in object.course_set.all %}
                                                                <tr>
                                                                    <td>{{ course.title }}</td>
                                                                    <td>{{ course.institute }}</td>
                                                                    <td>{{ course.fee }}</td>
                                                                    <td>{{ course.start_time }}</td>
                                                                    <td>{{ course.finish_time }}</td>
                                                                    <td>{{ course.status }}</td>
                                                                </tr>
                                                            {% empty %}
                                                                <h2 class="text-center">هیچ کلاس ای موجود نمیباشد</h2>
                                                            {% endfor %}


                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>


                                            <span class="timeline-label">
								<button class="btn btn-rounded btn-danger"><i class="fa fa-clock-o"></i></button>
							</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="activity">

                                    <div class="box p-15">
                                        {% for course in course_list %}
                                            <!-- Post -->
                                            <div class="post">

                                                <!-- /.user-block -->
                                                <div class="activitytimeline">
                                                    <h4>
                                                        نام کلاس: {{ course.title }}<br><br>
                                                        استاد:{{ course.master }}<br>
                                                    </h4>

                                                    <a href="{% url "Course:participation_add" course.id object.id %}"
                                                       class="pull-right btn btn-primary {% if course in object.course_set.all %}disabled{% endif %}"
                                                       style="margin-bottom: -10px;margin-top: -65px">افزودن دانش آموز
                                                        به کلاس</a>
                                                </div>
                                            </div>
                                            <!-- /.post -->
                                        {% endfor %}


                                    </div>

                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="settings">

                                    <div class="col-md-12 col-12 m-auto">
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">امور مالی</h4>
                                            </div>
                                            {{ object.total_earn }}
                                            <div class="box-body">
                                                {#                                                شسیبشسی#}
                                                {#                                                {% for course in object.courses.all %}#}
                                                <h3>تعداد کلاس ها:{{ object.get_course_count }}</h3>
                                                <h3>تعداد کلاس ها:{{ object.total_pay }}</h3>
                                                <a class="btn btn-primary"
                                                   href="{% url 'Student:installmentcreateview' object.id %}">قسط
                                                    بندی</a>
                                                {#                                                {% empty %}#}
                                                {#                                                    <h2 class="tex-center">هیچ گزارشی برای ارایه موجوئ نیست</h2>#}
                                                {#                                                {% endfor %}#}
                                            </div>
                                            <div class="box-footer text-right">
                                                <a href="{% url "Student:student_installment_list" object.id %}"
                                                   class="btn btn-rounded btn-primary">لیست قسط بندی</a>
                                                <button class="btn btn-rounded btn-secondary">لغو</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                </div>
                <!-- /.row -->

            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
