{% extends 'base.html' %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">تنظیمات سایت</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="mdi mdi-home-outline">نمایش تنظیمات سایت</i></a></li>
                                    <li class="breadcrumb-item" aria-current="page"></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="col-12 col-lg-5 col-xl-4 m-auto">


                        <div class="box box-widget widget-user">

                            <img src="{{ object.image.url }}" alt="site_settin">
                            <div class="box-footer">
                                <div class="row">
                                    <h2 class="text-center">{{ object.title }}</h2>
                                    <br>
                                    <hr>
                                    <div class="text-center">

                                        <a class="btn btn-warning " style="width: 120px;height: 50px"
                                           href="{% url 'config:update' object.id %}">
                                            ویرایش تنظیمات</a>
                                        </di>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                    <!-- /.row -->

            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->


    <!-- Control Sidebar -->


{% endblock %}