
            <!-- Main content -->
            <section class="content">
                <div class="row">


                    <!--Box footer!-->
                    <div class="col-md-9 col-12 m-auto">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">تغییر رمز</h4>
                            </div>
                            <div class="box-body">

                                <h3>رمز شما با موفقیت تغییر یافت,از اشتراک گذاری رمز خود با دیگران پرهیز کنید</h3>
                            </div>
                            <div class="box-footer text-right">
                                <button class="btn btn-rounded btn-primary">تایید</button>
                                <button class="btn btn-rounded btn-secondary">لغو</button>
                            </div>
                        </div>
                    </div>

                    <!--Box footer!-->


                    <!--Box footer!-->

                </div>


            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->

