<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images/favicon.ico">

    <title>سانی ادمین - پروفایل </title>
  
	<!-- Vendors Style-->
	<link rel="stylesheet" href="css/vendors_css.css">
	  
	<!-- Style-->  
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skin_color.css">

</head>
<body class="hold-transition light-skin sidebar-mini theme-primary rtl">
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top pl-30">
      <!-- Sidebar toggle button-->
	  <div>
		  <ul class="nav">
			<li class="btn-group nav-item">
				<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" data-toggle="push-menu" role="button">
					<i class="nav-link-icon mdi mdi-menu"></i>
			    </a>
			</li>
			<li class="btn-group nav-item">
				<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="تمام صفحه">
					<i class="nav-link-icon mdi mdi-crop-free"></i>
			    </a>
			</li>			
			<li class="btn-group nav-item d-none d-xl-inline-block">
				<a href="#" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="">
					<i class="ti-check-box"></i>
			    </a>
			</li>
			<li class="btn-group nav-item d-none d-xl-inline-block">
				<a href="calendar.html" class="waves-effect waves-light nav-link rounded svg-bt-icon" title="">
					<i class="ti-calendar"></i>
			    </a>
			</li>
		  </ul>
	  </div>
		
      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
		  <!-- full Screen -->
	      <li class="search-bar">		  
			  <div class="lookup lookup-circle lookup-right">
			     <input type="text" name="s">
			  </div>
		  </li>			
		  <!-- Notifications -->
		  <li class="dropdown notifications-menu">
			<a href="#" class="waves-effect waves-light rounded dropdown-toggle" data-toggle="dropdown" title="اعلان ها">
			  <i class="ti-bell"></i>
			</a>
			<ul class="dropdown-menu animated bounceIn">

			  <li class="header">
				<div class="p-20">
					<div class="flexbox">
						<div>
							<h4 class="mb-0 mt-0">اعلان ها</h4>
						</div>
						<div>
							<a href="#" class="text-danger">پاک کردن همه</a>
						</div>
					</div>
				</div>
			  </li>

			  <li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu sm-scrol">
				  <li>
					<a href="#">
					  <i class="fa fa-users text-info"></i> لورم ایپسوم متن ساختگی با تولید سادگی
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-warning text-warning"></i> متن ساختگی صنعت چاپ با تولید سادگی
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-users text-danger"></i> تولید سادگی نامفهوم با متن ساختگی لورم ایپسوم در صنعت چاپ
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-shopping-cart text-success"></i> لورم ایپسوم با تولید سادگی نامفهوم
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-danger"></i> متن ساختگی با تولید سادگی نامفهوم در صنعت چاپ
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-primary"></i> لورم ایپسوم متن ساختگی
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-success"></i> با تولید سادگی نامفهوم در صنعت چاپ متن ساختگی
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="footer">
				  <a href="#">مشاهده همه</a>
			  </li>
			</ul>
		  </li>	
		  
	      <!-- User Account-->
          <li class="dropdown user user-menu">	
			<a href="#" class="waves-effect waves-light rounded dropdown-toggle p-0" data-toggle="dropdown" title="کاربر">
				<img src="../images/avatar/1.jpg" alt="">
			</a>
			<ul class="dropdown-menu animated flipInX">
			  <li class="user-body">
				 <a class="dropdown-item" href="#"><i class="ti-user text-muted mr-2"></i> پروفایل</a>
				 <a class="dropdown-item" href="#"><i class="ti-wallet text-muted mr-2"></i> کیف پول من</a>
				 <a class="dropdown-item" href="#"><i class="ti-settings text-muted mr-2"></i> تنظیمات</a>
				 <div class="dropdown-divider"></div>
				 <a class="dropdown-item" href="#"><i class="ti-lock text-muted mr-2"></i> خروج</a>
			  </li>
			</ul>
          </li>	
		  <li>
              <a href="#" data-toggle="control-sidebar" title="تنظیمات" class="waves-effect waves-light">
			  	<i class="ti-settings"></i>
			  </a>
          </li>
			
        </ul>
      </div>
    </nav>
  </header>
  

  
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h3 class="page-title">پروفایل</h3>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">صفحات</li>
								<li class="breadcrumb-item active" aria-current="page">پروفایل</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<!-- Main content -->
		<section class="content">

		  <div class="row">
			  <div class="col-12 col-lg-5 col-xl-4">
				  
				  <div class="box box-inverse bg-img" style="background-image: url(../images/gallery/full/1.jpg);" data-overlay="2">
					  <div class="flexbox px-20 pt-20">
						<label class="toggler toggler-danger text-white">
						  <input type="checkbox">
						  <i class="fa fa-heart"></i>
						</label>
						<div class="dropdown">
						  <a data-toggle="dropdown" href="#"><i class="ti-more-alt rotate-90 text-white"></i></a>
						  <div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#"><i class="fa fa-user"></i> پروفایل</a>
							<a class="dropdown-item" href="#"><i class="fa fa-picture-o"></i> تصاویر</a>
							<a class="dropdown-item" href="#"><i class="ti-check"></i> دنبال کردن</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#"><i class="fa fa-ban"></i> مسدود کردن</a>
						  </div>
						</div>
					  </div>

					  <div class="box-body text-center pb-50">
						<a href="#">
						  <img class="avatar avatar-xxl avatar-bordered" src="../images/avatar/5.jpg" alt="">
						</a>
						<h4 class="mt-2 mb-0"><a class="hover-primary text-white" href="#">پدرام شریفی</a></h4>
						<span><i class="fa fa-map-marker w-20"></i> تهران</span>
					  </div>

					  <ul class="box-body flexbox flex-justified text-center" data-overlay="4">
						<li>
						  <span class="opacity-60">دنبال کنندگان</span><br>
						  <span class="font-size-20">8.6K</span>
						</li>
						<li>
						  <span class="opacity-60">دنبال شوندگان</span><br>
						  <span class="font-size-20">8457</span>
						</li>
						<li>
						  <span class="opacity-60">توییت ها</span><br>
						  <span class="font-size-20">2154</span>
						</li>
					  </ul>
					</div>				

				  <!-- Profile Image -->
				  <div class="box">
					<div class="box-body box-profile">            
					  <div class="row">
						<div class="col-12">
							<div>
								<p>ایمیل : <span class="text-gray pl-10">Pedram@gmail.com</span> </p>
								<p>تلفن : <span class="text-gray pl-10">091233344557890</span></p>
								<p>آدرس : <span class="text-gray pl-10">تهران، میدان آزادی، خیابان آزادی، پلاک 7</span></p>
							</div>
						</div>
						<div class="col-12">
							<div class="pb-15">						
								<p class="mb-10">شبکه های اجتماعی</p>
								<div class="user-social-acount">
									<button class="btn btn-circle btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></button>
									<button class="btn btn-circle btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></button>
									<button class="btn btn-circle btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></button>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div>
								<div class="map-box">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.0762034011345!2d51.33938432078328!3d35.69974233666176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDQxJzU5LjEiTiA1McKwMjAnMTMuOSJF!5e0!3m2!1sfa!2s!4v1585894944267!5m2!1sfa!2s" width="100%" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>

				  <!-- /.box -->
				 <div class="box box-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-black" style="background: url('../images/gallery/full/10.jpg') center center;">
					  <h3 class="widget-user-username">نسترن افشار</h3>
					  <h6 class="widget-user-desc">طراح</h6>
					</div>
					<div class="widget-user-image">
					  <img class="rounded-circle" src="../images/user3-128x128.jpg" alt="User Avatar">
					</div>
					<div class="box-footer">
					  <div class="row">
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">12K</h5>
							<span class="description-text">دنبال کننده</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4 br-1 bl-1">
						  <div class="description-block">
							<h5 class="description-header">550</h5>
							<span class="description-text">دنبال شونده</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
						<div class="col-sm-4">
						  <div class="description-block">
							<h5 class="description-header">158</h5>
							<span class="description-text">توییت</span>
						  </div>
						  <!-- /.description-block -->
						</div>
						<!-- /.col -->
					  </div>
					  <!-- /.row -->
					</div>
				  </div>

				<div class="box">
					<div class="box-body">
						<div class="flexbox align-items-baseline mb-20">
						  <h6 class="text-uppercase ls-2">دوستان</h6>
						  <small>20</small>
						</div>
						<div class="gap-items-2 gap-y">
						  <a class="avatar" href="#"><img src="../images/avatar/1.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/3.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/4.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/5.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/6.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/7.jpg" alt="..."></a>
						  <a class="avatar" href="#"><img src="../images/avatar/8.jpg" alt="..."></a>
						  <a class="avatar avatar-more" href="#">+15</a>
						</div>
					</div>
					<div class="box-footer">
						<a class="text-uppercase d-blockls-1 text-fade" href="#">دعوت کردن</a>
					</div>
				</div>

				<div class="box box-inverse box-carousel slide" data-ride="carousel" style="background-color: #00aced">
				  <div class="box-header no-border">
					<span class="fa fa-twitter font-size-30"></span>
					  <div class="box-tools pull-right">
						<h5 class="box-title box-title-bold">بازخورد های توییتر</h5>
					  </div>
				  </div>

				  <div class="carousel-inner">
					<blockquote class="blockquote blockquote-inverse no-border m-0 py-15 carousel-item active">
					  <p>به طور کلی ، الزامات پلاگین را برای محصولات قابل تحویل چند منظوره مشخص می کنید. یکپارچه عملکرد متقابل را انکوب کنید.</p>
					  <div class="flexbox">
						<time class="text-white" datetime="2017-11-22 20:00">22 آبان 1399</time>
						<span><i class="fa fa-heart"></i> 62</span>
					  </div>
					</blockquote>

					<blockquote class="blockquote blockquote-inverse no-border m-0 py-15 carousel-item">
					  <p>انقلابی منحصر به فرد در کاتالیزورهای اهرمی برای تغییر در خدمات وب کلاس جهانی ایجاد کرده است. به طور موثر در رقابت.</p>
					  <div class="flexbox">
						<time class="text-white" datetime="2017-11-22 20:00">22 آبان 1399</time>
						<span><i class="fa fa-heart"></i> 45</span>
					  </div>
					</blockquote>

					<blockquote class="blockquote blockquote-inverse no-border m-0 py-15 carousel-item">
					  <p>با اشتیاق محصولات تولید شده از میان رسانه ها را بدون خدمات وب پردازش محور بهینه کنید. راحت</p>
					  <div class="flexbox">
						<time class="text-white" datetime="2017-11-22 20:00">22 آبان 1399</time>
						<span><i class="fa fa-heart"></i> 65</span>
					  </div>
					</blockquote>
				  </div>

				</div>

				<div class="box box-inverse" style="background-color: #3b5998">
				  <div class="box-header no-border">
					<span class="fa fa-facebook font-size-30"></span>
					  <div class="box-tools pull-right">
						<h5 class="box-title box-title-bold">بازخورد های فیسبوک</h5>
					  </div>
				  </div>

				  <blockquote class="blockquote blockquote-inverse no-border m-0 py-15">
					<p>به طور کلی ، الزامات پلاگین را برای محصولات قابل تحویل چند منظوره مشخص می کنید. یکپارچه عملکرد متقابل را انکوب کنید.</p>
					<div class="flexbox">
					  <time class="text-white" datetime="2017-11-21 20:00">21 آبان 1399</time>
					  <span><i class="fa fa-heart"></i> 75</span>
					</div>
				  </blockquote>
				</div>

			  </div>
			  <div class="col-12 col-lg-7 col-xl-8">
				
			  <div class="nav-tabs-custom box-profile">
				<ul class="nav nav-tabs">
				  <li><a class="active" href="#usertimeline" data-toggle="tab">تایم لاین</a></li>
				  <li><a href="#activity" data-toggle="tab">فعالیت</a></li>
				  <li><a href="#settings" data-toggle="tab">تنظیمات</a></li>
				</ul>

				<div class="tab-content">

				 <div class="active tab-pane" id="usertimeline">
					<div class="publisher publisher-multi bg-white b-1 mb-30">
					  <textarea class="publisher-input auto-expand" rows="4" placeholder="چیزی بنویسید"></textarea>
					  <div class="flexbox">
						<div class="gap-items">
						  <span class="publisher-btn file-group">
							<i class="fa fa-image file-browser"></i>
							<input type="file">
						  </span>
						  <a class="publisher-btn" href="#"><i class="fa fa-map-marker"></i></a>
						  <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
						</div>

						<button class="btn btn-sm btn-bold btn-primary">پست</button>
					  </div>
					</div> 

					<div class="box">
					  <div class="media bb-1 border-fade">
						<img class="avatar avatar-lg" src="../images/avatar/3.jpg" alt="...">
						<div class="media-body">
						  <p>
							<strong>فرهاد سبحانی</strong>
							<time class="float-right text-fade" datetime="2017">24 دقیقه قبل</time>
						  </p>
						  <p><small>طراحی</small></p>
						</div>
					  </div>

					  <div class="box-body bb-1 border-fade">
						<p class="lead">مهارت های هدایت گرا با هدف مقتدرانه برای برون سپاری کلیک کنید. به طور هم افزایی کاتالیزورهای فعال شده برای تغییر را دوباره تصور کنید.</p>

						<div class="gap-items-4 mt-10">
						  <a class="text-fade hover-light" href="#">
							<i class="fa fa-thumbs-up mr-1"></i> 1254
						  </a>
						  <a class="text-fade hover-light" href="#">
							<i class="fa fa-comment mr-1"></i> 25
						  </a>
						  <a class="text-fade hover-light" href="#">
							<i class="fa fa-share-alt mr-1"></i> 12
						  </a>
						</div>
					  </div>


					  <div class="media-list media-list-divided bg-lighter">
						<div class="media">
						  <a class="avatar" href="#">
							<img src="../images/avatar/6.jpg" alt="...">
						  </a>
						  <div class="media-body">
							<p>
							  <a href="#"><strong>رضا کریمی</strong></a>
							  <time class="float-right text-fade" datetime="2017-07-14 20:00">همین حالا</time>
							</p>
							<p>کانالهای کلاس جهانی را به صورت منحصر به فرد با طرح های زمانی مناسب افزایش دهید.</p>

							<div class="media px-0 mt-20">
							  <a class="avatar" href="#">
								<img src="../images/avatar/8.jpg" alt="...">
							  </a>
							  <div class="media-body">
								<p>
								  <a href="#"><strong>حسین نعیمی</strong></a>
								  <time class="float-right text-fade" datetime="2017-07-14 20:00">26 دقیقه قبل</time>
								</p>
								<p>از دیدگاه عالی شما تشکر میکنم.</p>
							  </div>
							</div>

						  </div>
						</div>

						<div class="media">
						  <a class="avatar" href="#">
							<img src="../images/avatar/9.jpg" alt="...">
						  </a>
						  <div class="media-body">
							<p>
							  <a href="#"><strong>مریم محبی</strong></a>
							  <time class="float-right text-fade" datetime="2017-07-14 20:00">2 ساعت قبل</time>
							</p>
							<p>به طور مداوم راه حل های کاربر پسند را از طریق infommediaers مبتنی بر عملکرد هدایت کنید.</p>
						  </div>
						</div>
					  </div>

					  <form class="publisher bt-1 border-fade">
						<img class="avatar avatar-sm" src="../images/avatar/4.jpg" alt="...">
						<input class="publisher-input" type="text" placeholder="افزودن دیدگاه">
						<a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
						<span class="publisher-btn file-group">
						  <i class="fa fa-camera file-browser"></i>
						  <input type="file">
						</span>
					  </form>

					</div>


					<div class="box p-15"> 
						<div class="timeline timeline-single-column timeline-single-full-column">
							
							<span class="timeline-label">
								<span class="badge badge-info badge-pill">تصاویر</span>
							</span>

							<div class="timeline-item">
								<div class="timeline-point timeline-point-success">
									<i class="fa fa-image"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title"><a href="#">رضا افشار</a><small> تصاویر جدیدی آپلود کرد</small></h4>
									</div>
									<div class="timeline-body">
										<img src="../images/150x100.png" alt="..." class="m-10">
										<img src="../images/150x100.png" alt="..." class="m-10">
										<img src="../images/150x100.png" alt="..." class="m-10">
										<img src="../images/150x100.png" alt="..." class="m-10">
									</div>
									<div class="timeline-footer">
										<p class="text-right"><i class="fa fa-clock-o"></i> 8 روز قبل</p>
									</div>
								</div>
							</div>

							<div class="timeline-item">
								<div class="timeline-point timeline-point-info">
									<i class="ion ion-chatbubble-working"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title"><a href="#">یلدا جهانی</a><small> دیدگاهی برای پست شما گذاشت</small></h4>
									</div>
									<div class="timeline-body">
										<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>									
									</div>
									<div class="timeline-footer">
										<a class="btn btn-rounded btn-success btn-sm" href="#">مشاهده دیدگاه</a>
										<p class="pull-right"><i class="fa fa-clock-o"></i> 8 روز قبل</p>
									</div>
								</div>
							</div>

							<div class="timeline-item">
								<div class="timeline-point timeline-point-danger">
									<i class="ion ion-ios-videocam"></i>
								</div>
								<div class="timeline-event">
									<div class="timeline-heading">
										<h4 class="timeline-title"><a href="#">فرهاد شریفی</a><small> یک ویدیو به اشتراک گذاشت</small></h4>
									</div>
									<div class="timeline-body">
										<div class="embed-responsive embed-responsive-16by9">
											<iframe width="854" height="480" src="../images/video-demo.mp4" frameborder="0" allowfullscreen></iframe>
										</div>									
									</div>
									<div class="timeline-footer">
										<a class="btn btn-rounded btn-success btn-sm" href="#">مشاهده دیدگاه</a>
										<p class="pull-right"><i class="fa fa-clock-o"></i> 8 روز قبل</p>
									</div>
								</div>
							</div>

							<span class="timeline-label">
								<button class="btn btn-rounded btn-danger"><i class="fa fa-clock-o"></i></button>
							</span>
						</div>
					</div>  
				  </div>    
				  <!-- /.tab-pane -->

				  <div class="tab-pane" id="activity">			

					<div class="box p-15">				
					<!-- Post -->
					<div class="post">
					  <div class="user-block">
						<img class="img-bordered-sm rounded-circle" src="../images/user1-128x128.jpg" alt="user image">
							<span class="username">
							  <a href="#">پریسا</a>
							  <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
							</span>
						<span class="description">5 دقیقه قبل</span>
					  </div>
					  <!-- /.user-block -->
					  <div class="activitytimeline">
						  <p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
						  </p>
						  <ul class="list-inline">
							<li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> اشتراک گذاری</a></li>
							<li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> پسند</a>
							</li>
							<li class="pull-right">
							  <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> دیدگاه
								(5)</a></li>
						  </ul>
						  <form class="form-element">
							  <input class="form-control input-sm" type="text" placeholder="یک دیدگاه بنویسید">
						 </form>
					  </div>
					</div>
					<!-- /.post -->

					<!-- Post -->
					<div class="post">
					  <div class="user-block">
						<img class="img-bordered-sm rounded-circle" src="../images/user6-128x128.jpg" alt="user image">
							<span class="username">
							  <a href="#">فرهاد</a>
							  <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
							</span>
						<span class="description">5 دقیقه قبل</span>
					  </div>
					  <!-- /.user-block -->
					  <div class="activitytimeline">
						  <div class="row mb-20">
							<div class="col-sm-6">
							  <img class="img-fluid" src="../images/photo1.png" alt="Photo">
							</div>
							<!-- /.col -->
							<div class="col-sm-6">
							  <div class="row">
								<div class="col-sm-6">
								  <img class="img-fluid" src="../images/photo2.png" alt="Photo">
								  <br><br>
								  <img class="img-fluid" src="../images/photo3.jpg" alt="Photo">
								</div>
								<!-- /.col -->
								<div class="col-sm-6">
								  <img class="img-fluid" src="../images/photo4.jpg" alt="Photo">
								  <br><br>
								  <img class="img-fluid" src="../images/photo1.png" alt="Photo">
								</div>
								<!-- /.col -->
							  </div>
							  <!-- /.row -->
							</div>
							<!-- /.col -->
						  </div>
						  <!-- /.row -->

						  <ul class="list-inline">
							<li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> اشتراک گذاری</a></li>
							<li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> پسند</a>
							</li>
							<li class="pull-right">
							  <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> دیدگاه
								(5)</a></li>
						  </ul>

						  <form class="form-element">
							  <input class="form-control input-sm" type="text" placeholder="یک دیدگاه بنویسید">
						 </form>
						</div>
					</div>
					<!-- /.post -->

					<!-- Post -->
					<div class="post clearfix">
					  <div class="user-block">
						<img class="img-bordered-sm rounded-circle" src="../images/user7-128x128.jpg" alt="user image">
							<span class="username">
							  <a href="#">ساناز</a>
							  <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
							</span>
						<span class="description">5 دقیقه قبل</span>
					  </div>
					  <!-- /.user-block -->
						<div class="activitytimeline">
						  <p>
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی
						  </p>

						  <form class="form-horizontal form-element">
							<div class="form-group row no-gutters">
							  <div class="col-sm-9">
								<input class="form-control input-sm" placeholder="پاسخ">
							  </div>
							  <div class="col-sm-3">
								<button type="submit" class="btn btn-rounded btn-danger pull-right btn-block btn-sm">ارسال</button>
							  </div>
							</div>
						  </form>
						</div>
					</div>
					<!-- /.post -->
				   </div>

				  </div>
				  <!-- /.tab-pane -->

				  <div class="tab-pane" id="settings">		

					<div class="box p-15">		
						<form class="form-horizontal form-element col-12">
						  <div class="form-group row">
							<label for="inputName" class="col-sm-2 control-label">نام</label>

							<div class="col-sm-10">
							  <input type="email" class="form-control" id="inputName" placeholder="">
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputEmail" class="col-sm-2 control-label">ایمیل</label>

							<div class="col-sm-10">
							  <input type="email" class="form-control" id="inputEmail" placeholder="">
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputPhone" class="col-sm-2 control-label">تلفن</label>

							<div class="col-sm-10">
							  <input type="tel" class="form-control" id="inputPhone" placeholder="">
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputExperience" class="col-sm-2 control-label">تجربه</label>

							<div class="col-sm-10">
							  <textarea class="form-control" id="inputExperience" placeholder=""></textarea>
							</div>
						  </div>
						  <div class="form-group row">
							<label for="inputSkills" class="col-sm-2 control-label">مهارت ها</label>

							<div class="col-sm-10">
							  <input type="text" class="form-control" id="inputSkills" placeholder="">
							</div>
						  </div>
						  <div class="form-group row">
							<div class="ml-auto col-sm-10">
							  <div class="checkbox">
								<input type="checkbox" id="basic_checkbox_1" checked="">
								<label for="basic_checkbox_1"> من با </label> <a href="#">قوانین و مقررات </a>موافقم
							  </div>
							</div>
						  </div>
						  <div class="form-group row">
							<div class="ml-auto col-sm-10">
							  <button type="submit" class="btn btn-rounded btn-success">تایید</button>
							</div>
						  </div>
						</form>
					</div>			  
				  </div>
				  <!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			  </div>
			  <!-- /.nav-tabs-custom -->
			</div>			  
		  </div>
		  <!-- /.row -->

		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
   <footer class="main-footer">
    
	  &copy; 2020 تمامی حقوق محفوظ است
  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar">
	  
	<div class="rpanel-title"><span class="pull-right btn btn-circle btn-danger"><i class="ion ion-close text-white" data-toggle="control-sidebar"></i></span> </div>  <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab" class="active">چت</a></li>
      <li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab">لیست انجام</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>	
			<p>کاربران</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
		  <div class="lookup lookup-sm lookup-right d-none d-lg-block">
			<input type="text" name="s" placeholder="جستجو" class="w-p100">
		  </div>
          <div class="media-list media-list-hover mt-20">
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>نسترن</strong></a>
				</p>
				<p>لورم ایپسوم متن ...</p>
				  <span>همین حالا</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پریسا</strong></a>
				</p>
				<p>تولید سادگی نامفهوم ...</p>
				  <span>33 دقیقه پیش</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پدرام</strong></a>
				</p>
				<p>متن ساختگی با تولید ...</p>
				  <span>42 دقیقه پیش</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پدرام</strong></a>
				</p>
				<p>متن ساختگی با تولید ...</p>
				  <span>42 دقیقه پیش</span>
			  </div>
			</div>			
			
			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-success" href="#">
				<img src="../images/avatar/1.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>نسترن</strong></a>
				</p>
				<p>لورم ایپسوم متن ...</p>
				  <span>همین حالا</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-danger" href="#">
				<img src="../images/avatar/2.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پریسا</strong></a>
				</p>
				<p>تولید سادگی نامفهوم ...</p>
				  <span>33 دقیقه پیش</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-warning" href="#">
				<img src="../images/avatar/3.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پدرام</strong></a>
				</p>
				<p>متن ساختگی با تولید ...</p>
				  <span>42 دقیقه پیش</span>
			  </div>
			</div>

			<div class="media py-10 px-0">
			  <a class="avatar avatar-lg status-primary" href="#">
				<img src="../images/avatar/4.jpg" alt="...">
			  </a>
			  <div class="media-body">
				<p class="font-size-16">
				  <a class="hover-primary" href="#"><strong>پدرام</strong></a>
				</p>
				<p>متن ساختگی با تولید ...</p>
				  <span>42 دقیقه پیش</span>
			  </div>
			</div>
			  
		  </div>

      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
          <div class="flexbox">
			<a href="javascript:void(0)" class="text-grey"><i class="ti-minus"></i></a>	
			<p>لیست انجام</p>
			<a href="javascript:void(0)" class="text-right text-grey"><i class="ti-plus"></i></a>
		  </div>
        <ul class="todo-list mt-20">
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_1" class="filled-in">
			  <label for="basic_checkbox_1" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">لورم ایپسوم</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 دقیقه</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_2" class="filled-in">
			  <label for="basic_checkbox_2" class="mb-0 h-15"></label>
			  <span class="text-line">با تولید سادگی</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 ساعت</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_3" class="filled-in">
			  <label for="basic_checkbox_3" class="mb-0 h-15"></label>
			  <span class="text-line">متن ساختگی</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 روز</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_4" class="filled-in">
			  <label for="basic_checkbox_4" class="mb-0 h-15"></label>
			  <span class="text-line">متن صنعت چاپ</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 روز</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_5" class="filled-in">
			  <label for="basic_checkbox_5" class="mb-0 h-15"></label>
			  <span class="text-line">لورم ایپسوم ساختگی</span>
			  <small class="badge bg-primary"><i class="fa fa-clock-o"></i> 1 هفته</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_6" class="filled-in">
			  <label for="basic_checkbox_6" class="mb-0 h-15"></label>
			  <span class="text-line">تولید نامفهوم متن</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 1 ماه</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_7" class="filled-in">
			  <label for="basic_checkbox_7" class="mb-0 h-15"></label>
			  <!-- todo text -->
			  <span class="text-line">لورم ایپسوم</span>
			  <!-- Emphasis label -->
			  <small class="badge bg-danger"><i class="fa fa-clock-o"></i> 2 دقیقه</small>
			  <!-- General tools such as edit or delete-->
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_8" class="filled-in">
			  <label for="basic_checkbox_8" class="mb-0 h-15"></label>
			  <span class="text-line">با تولید سادگی</span>
			  <small class="badge bg-info"><i class="fa fa-clock-o"></i> 4 ساعت</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5 by-1">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_9" class="filled-in">
			  <label for="basic_checkbox_9" class="mb-0 h-15"></label>
			  <span class="text-line">متن ساختگی</span>
			  <small class="badge bg-warning"><i class="fa fa-clock-o"></i> 1 روز</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
			<li class="py-15 px-5">
			  <!-- checkbox -->
			  <input type="checkbox" id="basic_checkbox_10" class="filled-in">
			  <label for="basic_checkbox_10" class="mb-0 h-15"></label>
			  <span class="text-line">متن صنعت چاپ</span>
			  <small class="badge bg-success"><i class="fa fa-clock-o"></i> 3 روز</small>
			  <div class="tools">
				<i class="fa fa-edit"></i>
				<i class="fa fa-trash-o"></i>
			  </div>
			</li>
		  </ul>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
    <script src="../assets/icons/feather-icons/feather.min.js"></script>	<script src="js/pages/timeline.js"></script>
	
	<!-- Sunny Admin App -->
	<script src="js/template.js"></script>
	
	
</body>
</html>
